
  <div class = "arts-side">

      <div class = "art-row">
        <div class = "art-column">
          <% @arts.each do |art| %>
            <div class = "single-art">
              <%= image_tag art.imageart.url(:medium) %>
            </div>
          <% end %>
        </div>
        <div class = "art-column">
          <% @arts.each do |art| %>
            <div class = "single-art">
              <%= image_tag art.imageart.url(:medium) %>
            </div>
          <% end %>
        </div>
        <div class = "art-column">
          <% @arts.each do |art| %>
            <div class = "single-art">
              <%= image_tag art.imageart.url(:medium) %>
            </div>
          <% end %>
        </div>
      </div>

  </div>
