<div class = "single-comic-page">
    <div class = "single-page" >
      <div class = "row">
          <div class = "page-column-middle">
            <%= @chapter.title %></br>
            <%= image_tag @firstPage.comicimage.url(:medium) %>
          </div>
      </div>
  </div>
</div>
