.admin-container{
  margin:0;
}
.admin-row {

  padding: 0 0px;
  margin-left:  105px;
  margin-right: 105px;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: left;
}
.admin-column {
  flex: 100%;
  max-width: 100%;
  padding: none;
  margin: auto;
  width: 60%;
}
.art-table {
  text-align: center;

}
