.footer-column {
  text-align: center;
  flex: 25%;
  max-width: 100%;
  padding: none;
  margin: none;
  color: #25282d;
}

.left-footer {
  text-align: left;
}
.right-footer {
  text-align: right;
}
