// Place all the styles related to the MainSide controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.main-side {
  font-size: 60px;
  line-height: 90%;
  margin-top: 45px;
  font-weight: 200;
}


.container {
  text-align: center;
}

.comics, .pages, .chapters {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
  margin-left:  105px;
  margin-right: 105px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.heading-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
  margin-left:  105px;
  margin-right: 105px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  color: #3e444c;
}

div.heading-row p{
  font-weight: lighter;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 100%;
  padding: none;
  margin: none;
  // margin: auto;
}

div.column img {
  width: 100%;
  filter: none;
  margin: none;
  display: flex;
  flex-flow: column;
  filter:blur(0.5px) grayscale(0.7);
  position: relative;
}

div.column img:hover {
  filter:blur(1px) grayscale(0.6) brightness(50%);
  -webkit-filter:  blur(1px) grayscale(0.6)  brightness(50%);
  display: flex;
  flex-flow: column;
}

.column img {
  margin-top: 0px;
  vertical-align: middle;
}

.comic-tile {
  position: relative;
  text-align: center;
  color: white;
}

.comic-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s, visibility .2s;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;

}

.comic-tile:hover .comic-title {
  visibility: visible;
  opacity: 1;
}

.book-title{
  font-size: 18px;
  line-height: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
