
<div id="navbar">
  <div class = "default-menu">
    <div class = "container">
      <div class = "row">

            <div class= "column">
              <div class= "left-link">
                <%= link_to 'DAY RIYUAL', root_path %>
              </div>
            </div>
            <div class = "column">
              <div class= "middle-link">
                <%= link_to 'COMICS', dayritual_comics_path %>
            </div>
            </div>
            <div class = "column">
              <div class = "right-link">
                <%= link_to 'ARTS', dayritual_arts_path %>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
