
<div id="navbar">
  <div class = "default-menu">
    <div class = "container">
      <div class = "row">

            <div class= "column">
              <%= link_to 'DAY RIYUAL', root_path %>
            </div>
            <div class = "column">
              <%= link_to 'COMICS', dayritual_comics_path %>
            </div>
            <div class = "column">
              <%= link_to 'ARTS', dayritual_arts_path %></br>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
