<div class= "default-menu">
  <%= link_to 'DAY RIYUAL', root_path %>
  <%= link_to 'Comics', dayritual_comics_path %>
  <%= link_to 'Pages', dayritual_pages_path %>
  <%= link_to 'Arts', dayritual_arts_path %></br>
</div>
