<div class = "container">
  <div class = "row">
    <div class= "footer-column">
      contact:</br>
      dayritual@gamil.com </br>
    </div>
    <div class= "footer-column">
      some media
    </div>
    <div class= "footer-column">
      more something
    </div>
  </div>
</div>
