<div class = "container">
  <div class = "row">
    <div class= "footer-column">
      <div class = "left-footer">
        contact:</br>
        dayritual@gamil.com </br>
      </div>
    </div>
    <div class= "footer-column">
      <div class = "middle-footer">
      some media
      </div>
    </div>
    <div class= "footer-column">
      <div class = "right-footer">
        more something
      </div>
    </div>
  </div>
</div>
