<div class = "footer-container">
  <div class = "row">

      <div class= "footer-column">
        <div class = "left-footer">
          contact:</br>
          dayritual@gamil.com </br>
        </div>
      </div>
      <div class= "footer-column">
        <div class = "middle-footer">
        some media
        </div>
      </div>
      <div class= "footer-column">
        <div class = "right-footer">
          <div class = "footer-links">
            <%= link_to "arts", dayritual_arts_path %>
            <%= link_to "comics", dayritual_comics_url %>
            <%= link_to "day ritual", dayritual_url %>
          </div>
        </div>
      </div>

  </div>
</div>
